{
  "presets":[
    [
      "@babel/preset-env",
      {
        "targets":{
          "browsers":[
            "last 2 versions" // 支持es5
          ]
        },
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime" // 解决promise对打包之后的环境变量的污染
  ]
}