<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="profile">
      <img src='<%= require("./images/link.jpg") %>'>
      <h1>Hello 米斯特吴!</h1>
      <script src="/main-bundle.js"></script>
    </div>
  </body>
</html>